# MacOS
.DS_Store

# Custom
get-docker.sh
test.sh

# Cloned Oh My Zsh plugins
zsh_custom/plugins/autoswitch_virtualenv/

# Auto-made files
**/.ipynb_checkpoints
**/__pycache__
**/_build

# File folders 
/inputs/*
/outputs/*

# File types
*.csv
*.json
*.feather
*.tar.gz

# Sync system files
.sync/
*.local
*.backup
*.bak
*~

# Node modules (if any)
node_modules/
