# Custom
.DS_Store
.terraform.lock.hcl
.terraform/
configs.code-workspace
terraform.tfstate
terraform.tfstate.backup

# Auto-made files
**/.ipynb_checkpoints
**/__pycache__
**/_build

# File folders 
/inputs/*
/outputs/*

# File types
*.csv
*.json
*.feather
*.tar.gz
